# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

In [5]:
def doSomething(x):
    return x

doSomething("Hello")

'Hello'

#### Syntax

In [2]:
# lambda x:x

#### Saving to a Variable

In [3]:
myFunc = lambda x:x

In [4]:
myFunc("Hello")

'Hello'

#### Multiple Inputs

In [6]:
def sumTwo(x,y):
    return x + y

sumTwo(4, 6)

10

In [7]:
addTwo = lambda x,y: x+y
addTwo(6, 4)

10

#### Passing a Lambda into a Function

In [12]:
def doSomethingElse(func, num):
    return func(num)

doSomethingElse(lambda x:x+2, 3)

5

In [10]:
doSomethingElse(lambda x:f'You have passed in {x} as the argument', 10)

'You have passed in 10 as the argument'

#### Returning a Lambda from a Function

In [25]:
# return lambda x: x + a + b + c

def myFunc(a,b,c):
    return lambda x: x+a+b+c

f = myFunc(2, 4, 6)
# f = lambda x:x+1+2+3
f(5)

17

In [19]:
f(5)

11

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [26]:
f = lambda x:x**3
f(3)

27

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [ ]:
# map(func, list)

#### Using Lambda's with Map

In [31]:
f = lambda x:x+2

myList = [1, 3, 5, 7, 9]

list(map(f, myList))

# for i in map(f,myList):
#     print(i)

[3, 5, 7, 9, 11]

In [33]:
list(map(lambda name:f"Hello, {name}!",["Brian", "Derek", "Joel"]))

['Hello, Brian!', 'Hello, Derek!', 'Hello, Joel!']

In [35]:
import math
def area(r):
    return math.pi*r**2

radii = [2, 3, 7.1, 0.3, 10]

areas = []
for r in radii:
    a = area(r)
    areas.append(a)
areas

[12.566370614359172,
 28.274333882308138,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

In [36]:
areas = list(map(lambda r:math.pi*r**2, radii))
areas

[12.566370614359172,
 28.274333882308138,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

#### In-Class Exercise #2 <br>
<p>Use the map function to cube each number and subract by one in the list by using a lambda function</p>

In [39]:
myList = [5, 10, 15, 20, 25]
f = lambda x:x**3-1
list(map(f,myList))

[124, 999, 3374, 7999, 15624]

In [40]:
list(map(lambda x:x**3-1, myList))

[124, 999, 3374, 7999, 15624]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [ ]:
# filter(func,list)

#### Using Lambda's with Filter()

In [48]:
newList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

def f(num):
    if num < 5:
        return True
    

    
filter_list = list(filter(lambda x:x<5,newList))
print(filter_list)

map_list = list(map(lambda x:x<5,newList))
print(map_list)

[1, 2, 3, 4]
[True, True, True, True, False, False, False, False, False, False, False]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [49]:
from statistics import mean

In [60]:
nums = [2, 7, 4.3, 1.7, 9, 4.4, 2.8]
print(nums)
print(f"Mean: {mean(nums)}")

print(list(filter(lambda x:x>mean(nums),nums)))

[2, 7, 4.3, 1.7, 9, 4.4, 2.8]
Mean: 4.457142857142857
[7, 9]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

In [53]:
from functools import reduce

#### Syntax

In [ ]:
# reduce(func,list)

#### Using Lambda's with Reduce()

In [55]:
data = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
reduce(lambda x,y:x+y, data)

129

In [57]:
counter = 0
for i in data:
    counter += i
counter

129

In [59]:
data = [
    [12, 13, 14, 15],
    [22, 33, 54, 23],
    [1, 54, 23, 44, 2]
]

for i in data:
    result = reduce(lambda x,y:x+y, i)
    print(result)

54
132
124

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together.</p>

In [61]:
data = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

reduce(lambda x,y:x*y, data)

6469693230

In [64]:
product = 1
for i in data:
    product *= i
product

6469693230

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

#### Writing a Factorial Function

In [73]:
# 5! = 5*4*3*2*1

def factorial(num):
    # base case
    if num < 1:
        return 1
    else:
        return factorial(num-1) * num
    
factorial(10)

3628800

In [77]:
reduce(lambda x,y:x*y,list(range(1,11)))

3628800

#### In-Class Exercise #5 <br>
<p>Write a recursive function that adds all numbers together up to the argument given.</p>

In [78]:
def add_nums(num):
    if num == 1:
        return 1
    else:
        return add_nums(num-1) + num
    
add_nums(4)

10

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [93]:
def countdown(word):
    for char in word:
        return char
    
countdown('work')

'w'

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [99]:
def countdown(word):
    for char in word:
        yield char
        
list(countdown("work"))

['w', 'o', 'r', 'k']

In [90]:
for i in countdown("work"):
    print(i)

w
o
r
k

#### In-Class Exercise #6 <br>
<p>Create a generator that takes in a number argument yields that number squared until 1.</p>

In [110]:
def squared(num):
#     for i in range(1,num+1):
#         yield i**2
    while num > 0:
        yield num**2
        num -= 1

squared(6)
# [36, 25, 16, 9, 4, 1]

list(squared(6))

for i in squared(6):
    print(i)

36
25
16
9
4
1

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>
<p>Output: ['Argentina', 'San Diego', 'Chicago', 'Barcelona']</p>

In [ ]:
places = ['', 'Argentina', ' ', 'San Diego', '', '    ', '', 'Chicago', 'Barcelona']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>
<p>Output: ['Victor aNisimov', 'Andrew P. Garfield', 'David HassELHOFF', 'Connor Milliken', 'Oprah wInfrey']</p>

In [ ]:
authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>
<p>Output: [('Nassau', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]</p>

In [ ]:
# F = 9/5*C+32
places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

### Exercise #4 <br>
<p>Write a recursive function to perform the fibonacci sequence up to the number passed in.</p>

In [6]:
def fib(num):
    # base case
    if num <= 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)
    
fib(7)

13

In [10]:
for i in range(1,40):
    print(f"{i}: {fib(i)}")

1: 1
2: 1
3: 2
4: 3
5: 5
6: 8
7: 13
8: 21
9: 34
10: 55
11: 89
12: 144
13: 233
14: 377
15: 610
16: 987
17: 1597
18: 2584
19: 4181
20: 6765
21: 10946
22: 17711
23: 28657
24: 46368
25: 75025
26: 121393
27: 196418
28: 317811
29: 514229
30: 832040
31: 1346269
32: 2178309
33: 3524578
34: 5702887
35: 9227465
36: 14930352
37: 24157817
38: 39088169
39: 63245986

fib(n) = fib(n-1) + fib(n-2)<br>
1:1<br>
2:1<br>
3:2<br>
4:3<br>
5:5<br>
6:8<br>
7:13<br>